.cardCV{
width: 85%;
margin: 30px auto 0 auto;

}



ion-item-divider {
    --background:#0054E9;
    --color: #fff;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 20px;
    --padding-end: 20px;
  }
